@use "/shared/ui/styles/tools/mixins" as *;
@use "/shared/ui/styles/tools/functions" as *;

.root {
  margin-inline: auto;
  padding-inline: rem(16);

  @include query("md") {
    padding-inline: 0;
    width: calc(100% - 7.5rem);
  }
}

.md {
  max-width: rem(700);
  margin-inline: auto;
}

.lg {
  max-width: rem(900);
}

.xl {
  max-width: rem(1240);
}
