/* This CSS code is styling an element with the class name "discord__container".
*/
.discord__theme {
  /* This is a CSS class selector that selects elements with the class

  `Linkedin__theme`. */
  /*Color Variables Theme*/
  --COLOR-TRASNPARENT: transparent;
  --COLOR-WHITE: #ffffff;
  --COLOR-GRAY: #8a8c90;
  --COLOR-RED: #ff0606;
  --COLOR-LIVE: #43b581;
  --COLOR-NOTIFICATION: #f84a4b;
  --COLOR-TUTI-PRIMARY: #000000;
  --COLOR-TUTI-SECONDARY: #ea1889;
  --COLOR-TUTI-FONDO-NAVBAR: #000000;
  --COLOR-TUTI-NAVBAR-ICONS: #ea1889;
  --COLOR-TUTI-NAVBAR-HOVER-PRIMARY: #f872a0;
  --COLOR-TUTI-NAVBAR-HOVER-SECONDARY: #fca2b7;
  --COLOR-TUTI-NAVBAR-SELECTED: #e5e5e5;
  --COLOR-TUTI-NAVBAR-SELECTED-ICONS: #666666;
  --COLOR-TUTI-NAVBAR-SELECTED-HOME: #fdd0d6;
  --COLOR-TUTI-GLAS-FONDO: rgba(234, 24, 137, 0.32);
  --COLOR-TUTI-DROPDOWN-FONDO: rgba(234, 24, 137, 0.75);
  --COLOR-TUTI-GLAS-BORDER: rgba(234, 24, 137, 0.34);
  --COLOR-TUTI-GLAS-SHADOW: rgba(0,0,0,0.1);
  /* font family*/
  --font-primary: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-display: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-headline: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  /*Grid Layout*/
  display: grid;
  grid-template-columns: 60px 1fr auto;
  grid-template-rows: 100%;
  grid-template-areas:
    "NB CL TP"
    "FT FT FT";
  background-color: var(--COLOR-TUTI-PRIMARY);
}

.discord__container {
  grid-area: CL;
  display: flex;
  flex-direction: column;
  /* margin-top: 80px;  */
  padding: 0px 40px 0 40px;
  margin: 0;
}
