.youtubeChannelPic {
    border-radius: 9999999px;
  }
  .youtubeChannelDetails {
    display: flex;
    padding: 1.7rem 0;
    max-width: 100%;
    margin-top: 1rem;
    align-items: flex-start;
    background-color: var(--BG-CONTAINER);
  }
  @media only screen and (min-width: 1920px) {
    .youtubeChannelDetails {
     margin-right: 34rem;
    }
  }
  .youtubeChannelDetailsTexts{
    display: flex;
    padding-left: 2rem;
    align-items: flex-start;
    flex-direction: column;
  }
  .youtubeChannelDetailsTitle{
    font-size: 2rem;
  }
  .youtubeChannelDetailsTexts > *{
    margin: 0.25rem 0;
  }