html {
	scroll-behavior: smooth;
}
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  //background-color: #000000;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color:  #fca2b7;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #f872a0;

}

::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	background-color: #ea1889;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}