.layout__grid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 60% 15% 15%;
  grid-template-areas:
    "NL HD"
    "NL BD"
    "NL PF"
    "NL FT";
  max-height: 100vh;
}
