.app__grid {
  display: grid;
  grid-template-columns: 71px 240px auto;
  grid-template-rows: 46px auto 52px;
  grid-template-areas:
    "NL HD HD"
    "NL CL CD "
    "NL  CD "
    "NL UI UI";
  height: 100vh;
}
