/** This is the css code for the NavList Components */

/* This is styling the element with the class name "navList__container". */
.navList__container {
  background-color: var(--COLOR-TRASNPARENT); /* This is setting the background-color property to a custom CSS variable named "--COLOR-TUTI-PRIMARY". */
  padding: 11px; /* This is setting the padding property to 11px at the top and bottom and the left and right. */
  max-height: 100vh; /* This is setting the max-height property to 100vh at the bottom and the right.  */
}

/* This is selecting the element with the class name "navList __separardor". */
.navList__separador {
  width: 50px; /* This is setting the width property to 50px at the bottom and the left and right. */
  border-bottom: 3px solid var(--COLOR-TUTI-NAVBAR-ICONS); /* This is setting the border property to a 3px solid line with a color defined by a custom CSS variable named "--COLOR-TUTI-NAVBAR-ICONS". */
  margin-top: 8px; /* This is setting the margin-top property to 8px at the bottom and the right. */
}
