.footer__controller {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  gap: 0.1em;
  padding: 1rem;
  position: relative;
  max-width: fit-content;
  align-items: center;
}

.footer__controller > header {
  font-size: large;
  font-weight: 600;
  text-align: center;
  padding: 0 0 0.5em 0;
}

.footer__controllerUp {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}

.footer__controllerDown {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}

.footer__controllerCard1 {
  display: block;
  width: 3.75em;
  height: 2em ;
  outline: none;
  background: var(--COLOR-TUTI-PRIMARY);
  fill: var(--COLOR-TUTI-SECONDARY);
  border: 1px solid var(--COLOR-TUTI-SECONDARY);
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.footer__controllerCard2 {
  width: 3.75em;
  height: 2em;
  outline: none;
  background: var(--COLOR-TUTI-PRIMARY);
  fill: var(--COLOR-TUTI-SECONDARY);
  border: 1px solid var(--COLOR-TUTI-SECONDARY);
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.footer__controllerCard7 {
  width: 3.75em;
  height: 2em;
  outline: none;
  background: var(--COLOR-TUTI-PRIMARY);
  fill: var(--COLOR-TUTI-SECONDARY);
  border: 1px solid var(--COLOR-TUTI-SECONDARY);
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.footer__controllerCard3 {
  width: 3.75em;
  height: 2em;
  outline: none;
  background: var(--COLOR-TUTI-PRIMARY);
  fill: var(--COLOR-TUTI-SECONDARY);
  border: 1px solid var(--COLOR-TUTI-SECONDARY);
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.footer__controllerCardMid {
  width: 16.15em;
  height: 2em;
  outline: none;
  background: var(--COLOR-TUTI-PRIMARY);
  fill: var(--COLOR-TUTI-SECONDARY);
  border: 1px solid var(--COLOR-TUTI-SECONDARY);
  margin: 0.3em 0;
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.footer__controllerCard4 {
  width: 3.75em;
  height: 2em;
  outline: none;
  background: var(--COLOR-TUTI-PRIMARY);
  fill: var(--COLOR-TUTI-SECONDARY);
  border: 1px solid var(--COLOR-TUTI-SECONDARY);
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.footer__controllerCard5 {
  width: 3.75em;
  height: 2em;
  outline: none;
  background: var(--COLOR-TUTI-PRIMARY);
  fill: var(--COLOR-TUTI-SECONDARY);
  border: 1px solid var(--COLOR-TUTI-SECONDARY);
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.footer__controllerCard8 {
  width: 3.75em;
  height: 2em;
  outline: none;
  background: var(--COLOR-TUTI-PRIMARY);
  fill: var(--COLOR-TUTI-SECONDARY);
  border: 1px solid var(--COLOR-TUTI-SECONDARY);
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.footer__controllerCard6 {
  width: 3.75em;
  height: 2em;
  outline: none;
  background: var(--COLOR-TUTI-PRIMARY);
  fill: var(--COLOR-TUTI-SECONDARY);
  border: 1px solid var(--COLOR-TUTI-SECONDARY);
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

/*HOVERS*/
.footer__controllerCard1:hover {
  cursor: pointer;
  scale: 1.1;
  border: none;
  background-color: #ea18886c;
  fill: var(--COLOR-TUTI-PRIMARY);
}

.footer__controllerCard2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #ea18886c;
  fill: var(--COLOR-TUTI-PRIMARY);
  border: none;
}

.footer__controllerCard3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #ea18886c;
  fill: var(--COLOR-TUTI-PRIMARY);
  border: none;
}

.footer__controllerCard7:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #ea18886c;
  fill: var(--COLOR-TUTI-PRIMARY);
  border: none;
}

.footer__controllerCardMid:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #ea18886c;
  fill: var(--COLOR-TUTI-PRIMARY);
  border: none;
}

.footer__controllerCard4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #ea18886c;
  fill: var(--COLOR-TUTI-PRIMARY);
  border: none;
}

.footer__controllerCard5:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #ea18886c;
  fill: var(--COLOR-TUTI-PRIMARY);
  border: none;
}

.footer__controllerCard8:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #ea18886c;
  fill: var(--COLOR-TUTI-PRIMARY);
  border: none;
}

.footer__controllerCard6:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #ea18886c;
  fill: var(--COLOR-TUTI-PRIMARY);
  border: none;
}
.instagram {
  margin-top: -0.15em;
  margin-left: 0.25em;
  fill: var(--COLOR-TUTI-NAVBAR-ICONS);
}
.github {
  margin-top: -0.15em;
  fill: var(--COLOR-TUTI-NAVBAR-ICONS);
  scale: 0.5;
}
.tiktok {
  margin-bottom: -0.3em;
  fill: var(--COLOR-TUTI-NAVBAR-ICONS);
  scale: 0.5;
}
.discord {
  margin-top: -0.1em;
  margin-left: -0.6em;
  fill: var(--COLOR-TUTI-NAVBAR-ICONS);
  scale: 0.5;
}
.youtube {
  margin-left: -0.5em;
  margin-top: 0.12em;
  fill: var(--COLOR-TUTI-NAVBAR-ICONS);
  scale: 0.5;
}
.twitter {
  margin-right: -0.45em;
  margin-top: -0.2em;
  fill: var(--COLOR-TUTI-NAVBAR-ICONS);
  scale: 0.5;
}

.spotify {
  fill: var(--COLOR-TUTI-NAVBAR-ICONS);
  scale: 0.5;
}
.linkedin {
  margin-top: 0.12em;
  fill: var(--COLOR-TUTI-NAVBAR-ICONS);
  scale: 0.5;
}
.twitch {
  margin-left: -0.5em;
  margin-top: 0.12em;
  fill: var(--COLOR-TUTI-NAVBAR-ICONS);
  scale: 0.5;
}
.fb {
  fill: var(--COLOR-TUTI-NAVBAR-ICONS);
  scale: 0.5;
}
