.footer__controller {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  gap: 0.1em;
  padding: 1rem;
  position: relative;
  /* max-width: -moz-fit-content; */
  max-width: fit-content;
  align-items: center;
}
.footer__controller > header {
  font-size: large;
  font-weight: 600;
  text-align: center;
  padding: 0 0 0.5em 0;
}
.footer__controllerup {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}

.footer__controllerdown {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}

.footer__controllercard1 {
  width: 3.75em;
  height: 2em;
  outline: none;
  border: none;
  background: black;
  border: 1px solid #ea1889;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram {
  margin-top: -0.15em;
  margin-left: 0.25em;
  fill: #ea1889;
}

.footer__controllercard2 {
  width: 3.75em;
  height: 2em;
  outline: none;
  border: none;
  background: black;
  border: 1px solid #ea1889;
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.15em;
  fill: #ea1889;
}

.footer__controllercard7 {
  width: 3.75em;
  height: 2em;
  outline: none;
  border: none;
  background: black;
  border: 1px solid #ea1889;
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
.tiktok {
  margin-bottom: -0.3em;
  fill: #ea1889;
}
.footer__controllercard3 {
  width: 3.75em;
  height: 2em;
  outline: none;
  border: none;
  background: black;
  border: 1px solid #ea1889;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
.discord {
  margin-top: -0.1em;
  margin-left: -0.6em;
  fill: #ea1889;
}

.footer__controllercardMid {
  width: 16.15em;
  height: 2em;
  outline: none;
  border: none;
  background: black;
  border: 1px solid #ea1889;
  margin: 0.3em 0 0.3em 0;
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
.youtube {
  fill: #ea1889;
}
.footer__controllercard4 {
  width: 3.75em;
  height: 2em;
  outline: none;
  border: none;
  background: black;
  border: 1px solid #ea1889;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.twitter {
  margin-right: -0.45em;
  margin-top: -0.2em;
  fill: #ea1889;
}
.footer__controllercard5 {
  width: 3.75em;
  height: 2em;
  outline: none;
  border: none;
  background: black;
  border: 1px solid #ea1889;
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
.spotify {
  fill: #ea1889;
}

.footer__controllercard8 {
  width: 3.75em;
  height: 2em;
  outline: none;
  border: none;
  background: black;
  border: 1px solid #ea1889;
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
.linkedin {
  margin-top: 0.12em;
  fill: #ea1889;
}
.footer__controllercard6 {
  width: 3.75em;
  height: 2em;
  outline: none;
  border: none;
  background: black;
  border: 1px solid #ea1889;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
.twitch {
  margin-left: -0.5em;
  margin-top: 0.12em;
  fill: #ea1889;
}
/*HOVERS*/
.footer__controllercard1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
  border: none;
}

.footer__controllercard1:hover .instagram {
  fill: white;
  border: none;
}

.footer__controllercard2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
  border: 1px solid white;
}

.footer__controllercard3:hover .discord {
  fill: white;
  border: none;
}

.footer__controllercard3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
  border: none;
}

.footer__controllercard2:hover .github {
  fill: white;
}

.footer__controllercard7:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
  border: 1px solid white;
}
.footer__controllercard7:hover .tiktok {
  fill: white;
  filter: drop-shadow(-15px -5px 0px #69c9d0, 15px 5px 0px #ee1d52);
}
.footer__controllercardMid:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #ff0000;
  border: none;
}
.footer__controllercardMid:hover .youtube {
  fill: white;
  border: none;
}

.footer__controllercard4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
  border: none;
}

.footer__controllercard4:hover .twitter {
  fill: white;
  border: none;
}
.footer__controllercard5:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #2ebd59;
  border: none;
}
.footer__controllercard5:hover .spotify {
  fill: white;
  border: none;
}
.footer__controllercard8:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #0077b5;
  border: none;
}
.footer__controllercard8:hover .linkedin {
  fill: white;
  border: none;
}
.footer__controllercard6:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #65459b;
  border: none;
}
.footer__controllercard6:hover .twitch {
  fill: white;
  border: none;
}
