.root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary: #36393f;
  --secondary: #2f3136;
  --tertiary: rgb(32, 34, 37);
  --quaternary: #292b2f;
  --quinary: #393d42;
  --senary: #828386;

  --white: #fff;
  --gray: #8a8c90;
  --chat-input: rgb(64, 68, 75);
  --symbol: #74777a;

  --live: #43b581;
  --notification: #f84a4b;
  --notificationDc: #dc274350;
  --discord: #6e86d6;
  --mention-detail: #f9a839;
  --mention-message: #413f3f;

  --link: #5d80d6;

  --tutiPrimary: #000000;
  --tutiSecondary: #ea1889;
  --fondoNavBarTuti: rgb(32, 34, 37);
}
