.body__container{
  /* grid-area: BD; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--COLOR-TUTI-PRIMARY);
  color: var(--COLOR-WHITE);
}

.iframe_container{
  display: flex;
  gap: 16px;
}

.title{
  font-size: 2rem;
}