.footer {
  display: flow-root;
  /* grid-area: FT; */
  font-family: "Fira Mono";
  background: linear-gradient(180deg, #000000 88%, #ea1889 100%);
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  height: fit-content;
  margin-left: -4.688rem;
  /* position: absolute;
  bottom: 0; */
}
.footercard__title {
  color: aliceblue;
  display: flex;
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  width:fit-content;
  margin-left: 4.5rem;
  justify-content: flex-start;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  max-width: 100%;
  max-height: 100%;
  margin-left: 1.5em;
  align-items: start;
  align-content: center;
}
.footer__aboutCommunityContent {
  text-align: center;
  margin-left: 2.5em;
  margin-bottom: 0.5em;
  padding: 1em;
}
.footer__aboutCommunityContent > header {
  font-size: larger;
  font-weight: 600;
}
.footer__aboutCommunityContent > p {
  margin: 0;
}
.footer__divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.25),
    rgba(0, 0, 0, 0)
  );
}
.footer__lastSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  font-size: medium;
  font-size: 11px;
}
.footer__lastSection > p {
  margin: 0;
}
