.footer {
  display: flow-root;
  grid-area: FT;
  font-family: "Fira Mono";
  background: linear-gradient(180deg, #000000 88%, #ea1889 100%);
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  height: 15rem;
  margin: 4.7rem 0 0 -4.7rem;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  max-width: 100%;
  max-height: 100%;
  margin-left: 1.5em;
  align-items: start;
  align-content: center;
}
.footer__alanCard {
  display: flex;
  flex-direction: row;
  padding: 1em;
  border-radius: 3px 18px 3px 18px;
  background-color: #ea1888b7;
  transition: 250ms;
}
.footer__alanCard:hover {
  transition: 250ms;
  border: hsla(328, 83%, 51%, 0.85);
  box-shadow: 0px 0px 6px #ea1889;
  background-color: #ea1889;
  border-radius: 3px;
  z-index: 99999;
}
.footer__alanTitle {
  font-weight: 600;
  font-size: larger;
  text-shadow: 0px 0px 2px #eeeeee;
  text-align: center;
}
.footer__alanImg {
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 120px;
  width: 120px;
}
.footer__alanImg:hover {
  transition: 250ms;
  box-shadow: 0px 0px 6px #000000;
}
.footer__textContainer {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em 0 0.5em;
}
.footer__textContainer > p {
  margin: 0.25em;
  text-align: center;
}
.footer__aboutCommunityContent {
  text-align: center;
  margin-left: 2.5em;
  margin-bottom: 0.5em;
  padding: 1em;
}
.footer__aboutCommunityContent > header {
  font-size: larger;
  font-weight: 600;
}
.footer__aboutCommunityContent > p {
  margin: 0;
}
.footer__divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.25),
    rgba(0, 0, 0, 0)
  );
}
.footer__lastSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  font-size: medium;
  font-size: 11px;
}
.footer__lastSection > p {
  margin: 0;
}
