.footer {
  display: flow-root;
  grid-area: FT;
  font-family: "Fira Mono";
  background: linear-gradient(180deg, #000000 88%, #ea1889 100%);
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  height: fit-content;
  margin-left: -4.688rem;
  /* position: absolute;
  bottom: 0; */
}
.footercard__title {
  color: aliceblue;
  display: flex;
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  width:fit-content;
  margin-left: 4.5rem;
  justify-content: flex-start;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  max-width: 100%;
  max-height: 100%;
  margin-left: 1.5em;
  align-items: start;
  align-content: center;
}
.footer__carousel{
  margin: 0 15%;
}
ul.footer__carouselSlides{
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
.footer__carouselSlides{
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.footer__carouselControls{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}
.footer__carouselControls label{
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}
.footer__carouselControls label:hover{
  opacity: 1;
}
.footer__carouselControls .footer__carouselPrevSlide{
  width: 49%;
  text-align: left;
  left: 0;
}
.footer__carouselControls .footer__carouselNextSlide{
  width: 49%;
  text-align: right;
  left: 0;
}
.footer_carouselDots{
  position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}
.footer__carouselDots .footer__carouselDot{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}
input:checked + .footer_carouselSlideContainer{
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
.footer__aboutCommunityContent {
  text-align: center;
  margin-left: 2.5em;
  margin-bottom: 0.5em;
  padding: 1em;
}
.footer__aboutCommunityContent > header {
  font-size: larger;
  font-weight: 600;
}
.footer__aboutCommunityContent > p {
  margin: 0;
}
.footer__divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.25),
    rgba(0, 0, 0, 0)
  );
}
.footer__lastSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  font-size: medium;
  font-size: 11px;
}
.footer__lastSection > p {
  margin: 0;
}
