.header__container {
  grid-area: HD;
  display: flex;
  flex-direction: columm;
  align-items: center;
  background-color: var(--COLOR-TUTI-PRIMARY);
  color: var(--COLOR-WHITE);
  padding: 11px 0;
  max-height: 100vh;
  overflow-y: nome;
}
