.form {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.form__heading{
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.form > div ~ div {
  margin-top: 20px;
}

.form__label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.form__control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  color: #333;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
}

.form__control:not(:last-child) {
  margin-bottom: 40px;
}

/*
  Contact Form
*/
.contact-form {
  width: 100%;
  max-width: 1200px;
  padding: 40px;
  background-color: #fefefe;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  order: 2;
  background-color: #e8505b;
}

@media (min-width: 768px) {
  .contact-form {
    order: 1;
  }
}

/*
  Button
*/
.form__submit {
  margin-top: 2rem;
  background-color: #333;
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 1rem;
  font-weight: 700;
  display: block;
  width: 100%;
  text-align: center;
  color: $texto;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  color: white;
}

.form__submit:hover {
  background-color: #555;
  cursor: pointer;
  transform: scale(1.1);
  color: white;
}
