/**This is the CSS code for the 404 components. */

/* This is styling the element with the class name "pag404__container".*/
.pag404__container {
  display: flex; /* this is setting the display property to "flex".*/
  flex-direction: column; /* This is setting the flex-direction property to "column".*/
  align-items: center; /*  This is aligning the child elements to the center of the container.*/
  gap: 1rem; /* This is setting the gap property to 1rem.*/
  background-color: var(--COLOR-TUTI-PRIMARY); /* This is setting the background color to a custom variable called "--COLOR-TUTI-PRIMARY".*/
}

/* Styling the image element with the class "pag404__img" */
.pag404__img {
  height: 90%; /* This is setting the height of the image to 90% of its container's height.*/
  width: 90%; /*This is setting the width of the image to 90% of its container's width.*/
  align-items: center; /* This is aligning the child elements to the center of the container.*/
  border: 3px solid var(--COLOR-WHITE); /* This is setting the border property to a 3px solid white border.*/
}

/* This is selecting the element with the class name *pag404__img" when it is being hovered over by the user's mouse.
*/
.pag404__img:hover {
  border: 3px solid var(--COLOR-TUTI-SECONDARY); /* This is setting the border property to a 3px solid line with a color defined by a custom CSS variable named "--COLOR-TUTI-SECONDARY".*/
}

/* Styling the element with the class "pag404__title".*/
.pag404__title {
  font-size: 1.5rem; /* This is setting the font-size property to 1.5rem.*/
  font-weight: 600; /* This is setting the font-weight property to 600.*/
  margin: 0; /* This is setting the margin property to 0.*/
  padding: 10px 0 10px 0; /* This is setting the padding property to 10px at the top and bottom and 0px at the left and right.*/
  text-align: center; /* This is setting the text-align property to "center".*/
  color: var(--COLOR-TUTI-SECONDARY); /* This is setting the color property to a custom CSS variable named "--COLOR-TUTI-SECONDARY".*/
}
