/* This CSS code is styling a container element with the class "Header__container". */
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  color: var(--COLOR-WHITE);
  padding: 11px;
  max-height: 100vh;
  overflow-y: nome;
}


/* This CSS code is styling a container element with the class "Header__divContainer". */
.header__divContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* This CSS code is styling a container element with the class "Header__div" */
.header__div{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  column-gap: 20px;
}


/* This CSS code is styling an element with the class "Header__content". */
.header__content{
  width: 400px;
  text-align: center;
}

/* Setting the font size of an element with the class "Header__title" to 3rem. */
.header__title{
  font-size: 3rem;
}

/* This CSS code is styling an element with the class "Header__subtitle". */
.header__subTitle {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  top: -5rem;
  fill: var(--COLOR-TUTI-SECONDARY);
}

/* This CSS code is setting the text color of an element with the class "Header__subtitletext" to a
variable called "--COLOR-WHITE". */
.header__subtitletext {
  color: var(--COLOR-WHITE);
}
