.header__container {
  grid-area: CH;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  color: var(--COLOR-WHITE);
  padding: 11px;
  max-height: 100vh;
  overflow-y: nome;
}

.divContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  column-gap: 20px;
}

.content{
  width: 400px;
  text-align: center;
}

.title{
  font-size: 3rem;
}

.subtitle {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  top: -5rem;
  fill: var(--COLOR-TUTI-SECONDARY);
}

.subtitletext {
  color: var(--COLOR-WHITE);
}
