@use "../../styles/settings/palette" as *;

.root {
  font-weight: 700;
  border-radius: 7px;
  padding: 11px 38px;

  font-size: 15px;
  line-height: 28px;

  outline: none;
  border: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

//Variants
.contained {
  background-color: $color-primary-500-on-dark;
  color: $color-gray-0-on-dark;

  &:hover,
  &:focus {
    background-color: $color-primary-600-on-dark;
  }

  &:disabled,
  &[disabled] {
    color: $color-gray-300-on-dark;
    background-color: $color-gray-500-on-dark;
    cursor: not-allowed;
  }
}

.outlined {
  background-color: transparent;
  border: 2px solid $color-primary-500-on-dark;
  color: $color-primary-500-on-dark;

  &:hover,
  &:focus {
    background-color: rgba(220, 28, 131, 0.1);
  }

  &:disabled,
  &[disabled] {
    color: $color-gray-300-on-dark;
    background-color: transparent;
    border-color: $color-gray-500-on-dark;
    cursor: not-allowed;
  }
}

.text {
  color: $color-primary-500-on-dark;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    background-color: rgba(220, 28, 131, 0.1);
  }

  &:disabled,
  &[disabled] {
    background-color: transparent;
    color: $color-gray-300-on-dark;
    cursor: not-allowed;
  }
}

//Sizes
.large {
}

.auto {
  width: fit-content;
}
