

$color-primary-g:   #EA1889; //color gentleman
$color-primary-400: #D500C8; //color hover
$color-primary-200: #FF00F0; //Color boton

$color-bg:#0e0e10;

$color-twitch-active:#5C16C5; //btn active
$color-twitch-hover:#772CE8; //hover
$color-twitch-default:#9147FF;
$color-twitch-text:#BF94FF; //selectet option

$color-gray-1:#1F1F23;
$color-gray-2:#212123;
$color-gray-3:#2D2D2F;

$color-primary-text: #EFEFF1;