.instagram {
  margin-top: -0.15em;
  margin-left: 0.25em;
  fill: #ea1889;
}
.github {
  margin-top: -0.15em;
  fill: #ea1889;
}
.tiktok {
  margin-bottom: -0.3em;
  fill: #ea1889;
}
.discord {
  margin-top: -0.1em;
  margin-left: -0.6em;
  fill: #ea1889;
}
.youtube {
  fill: #ea1889;
}
.twitter {
  margin-right: -0.45em;
  margin-top: -0.2em;
  fill: #ea1889;
}
.spotify {
  fill: #ea1889;
}
.linkedin {
  margin-top: 0.12em;
  fill: #ea1889;
}
.twitch {
  margin-left: -0.5em;
  margin-top: 0.12em;
  fill: #ea1889;
}
.fb {
  fill: #ea1889;
}
