/** Colors Palette **/
 
.container-contact {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 20px;
  flex-grow: 1;
}

.grid-contact {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
}

@media (min-width: 768px) {
  .grid-contact {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
  }
}

/** Contact Form section */
.grid-contact__form {
  grid-row: 2;
}

@media (min-width: 768px) {
  .grid-contact__form {
    grid-column: 1;
    grid-row: 1;
  }
}
.grid-contact__social {
  grid-row: 1;
}

@media (min-width: 768px) {
  .grid-contact__social {
    grid-column: 2;
    grid-row: 1;
  }
}

/*  Social Media section
 */

.section-social__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Q&A section
 */

.section-qa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  order: 3;
  border: 1px solid green;
  padding: 40px 20px;
  width: 90%;
}
