.footer__alanCard {
  display: flex;
  flex-direction: row;
  padding: 1em;
  border-radius: 3px 18px 3px 18px;
  background-color: #ea1888b7;
  transition: 250ms;
  margin-top: 3rem;
}

.footer__alanCard:hover {
  transition: 250ms;
  border: hsla(328, 83%, 51%, 0.85);
  box-shadow: 0px 0px 6px #ea1889;
  background-color: #ea1889;
  border-radius: 3px;
  z-index: 99999;
}

.footer__alanTitle {
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 0px 0px 2px #eeeeee;
  text-align: center;
}

.footer__textContainer {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em 0 0.5em;
}

.footer__textContainer>p {
  margin: 0.25em;
  text-align: center;
}

.footer_alanProfessionalDescription {
  font-size: 1.3rem;
  text-align: center;
  transform: skewX(-5deg);
  padding-top: 0.5em;

  &:hover {
    transform: skewX(0deg);
    color: #fff;
    cursor: default;
  }
}