@import '../../styles/palette';
.calendarContent{
     --fc-border-color: #ddd;
     color:$color-primary-text;
}

.card:hover{
  cursor: pointer;
  filter: blur(5px);
}



.contentData{
  display: flex;
  align-items: center;
}

.contentHours{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.dateTime{
  height: 4rem;
  width: 6rem;
  text-align: center;
}

.card{
  height: 70px;
  width: 400px;
  background-color: #131313;
  margin: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
}

.title{
  margin: 0;
  color: #fc00ed;
}

.span{
  width: 3px;
  height: 10px;
  background-color: #fc00ed;
  border-radius: 3px;
  color: #fc00ed;
  cursor: none;
}

.time{
  margin: 0;
}

.description{
  margin: 0;
}