.instagram {
  margin-top: -0.2em;
  margin-left: 0.25em;
  fill: #ea1889;
}

.github {
  margin-top: -0.15em;
  margin-left: -0.05em;
  fill: #ea1889;
}

.tiktok {
  margin-top: -0.01em;
  margin-left: 0.045em;
  fill: #ea1889;
}

.discord {
  margin-top: -0.1em;
  margin-left: -0.6em;
  fill: #ea1889;
}

.youtube {
  fill: #ea1889;
}

.twitter {
  margin-right: -0.40em;
  margin-top: -0.22em;
  fill: #ea1889;
}

.spotify {
  margin-top: -0.021em;
  fill: #ea1889;
}

.linkedin {
  margin-top: -0.035em;
  margin-left: -0.05em;
  fill: #ea1889;
}

.twitch {
  margin-left: -0.6em;
  margin-top: -0.03em;
  fill: #ea1889;
}
.fb {
  fill: #ea1889;
}