.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__label {
  font-size: 0.8rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form__input {
  font-size: 0.8rem;
  font-family: inherit;
  color: inherit;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(#eee, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(black, 0.1);
  border-bottom: 3px solid #55c57a;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: gray;
}
