.pag404__container{
  grid-area: CD;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--COLOR-TUTI-PRIMARY);
  max-height: 100vh;
}
.pag404__img {
  align-items: center;
  height: 90%;
  width: 90%;
}
.pag404__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 10px;
  text-align: center;
  color: var(--COLOR-TUTI-SECONDARY);
}